{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption|Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href=" {% static 'sound/styles/page_styles.css' %} ">

    <title>Drama2020</title>

</head>

<body>
    {% block content %} replace me please {% endblock %}
</body>

</html>